<!-- MINI CHAT -->
<div class="help-btn" title="cherchez de l'aide ici!">💬</div>

<div class="help-box" style="display: none">
  <div class="help-header">
    <span class="help-close">&times;</span>
    Assistance
  </div>
  <div id="chatBody" class="chat-body"></div>
  <form id="chatForm">
    <input type="text" id="chatMessage" placeholder="Tapez un message..." />
    <button type="submit">Envoyer</button>
  </form>
</div>
