<nav class="navbar">
  <a href="/" class="<%= page === 'home' ? 'active' : '' %>">Accueil</a>
  <a href="/about" class="<%= page === 'about' ? 'active' : '' %>">À propos</a>
  <a href="/commande" class="<%= page === 'commande' ? 'active' : '' %>"
    >Commande</a
  >
  <a href="/contact" class="<%= page === 'contact' ? 'active' : '' %>"
    >Contact</a
  >
</nav>
